<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Scrapper</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>Search Results for "{{keyword}}":</h1>
        <a target="_blank" href="/export?keyword={{keyword}}">Export to file</a>
      </hgroup>
      <figure>
        <table role="grid">
          <thead>
            <tr>
              <th>Position</th>
              <th>Company</th>
              <th>reward</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            {% for job in jobs %}
            <tr>
              <td>{{job.title}}</td>
              <td>{{job.company_name}}</td>
              <td>{{job.reward}}</td>
              <td><a href="{{job.link}}" target="_blank">Apply &rarr;</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </figure>
    </main>
  </body>
</html>
